{% extends 'layout.html.twig' %}

{% block title %}
    {% if viewModel.id %}
        {{ viewModel.name }}
    {% else %}
        New device
    {% endif %}
{% endblock %}

{% block main %}
    <div class="text-right mb-3">
        <a href="{{ url('devices') }}" class="btn btn-link btn-lg">Back</a>

        {% if viewModel.id %}
            <form action="{{ url('devices_delete', {id: viewModel.id}) }}" method="post" class="d-none" id="delete-form"></form>
            <button class="btn btn-danger btn-lg" id="delete-button">Delete</button>
            <script>
                let button = document.getElementById('delete-button');

                button.onclick = function () {
                    if(confirm('Are you sure you want to delete it?')) {
                        let form = document.getElementById('delete-form');

                        form.submit();
                    }
                }
            </script>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-lg" form="form">Save</button>
    </div>

    {{ include('_errors.html.twig', {errors: viewModel.errors}) }}
    {{ include('_notices.html.twig', {notices: viewModel.notices}) }}

    <form action="
        {% if viewModel.id %}
            {{ url('devices_edit', {id: viewModel.id}) }}
        {% else %}
            {{ url('devices_new') }}
        {% endif %}
    " method="post" id="form">

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" required="required" class="form-control" id="name" name="name" value="{{ viewModel.name }}">
        </div>

        {{ include('_product.html.twig') }}
    </form>
{% endblock %}
