{% extends 'layout.html.twig' %}

{% block title %}{{ viewModel.name }}{% endblock %}

{% block main %}
    <div class="text-right mb-3">
        <a href="{{ url('materials') }}" class="btn btn-link btn-lg">Back</a>
        <button type="submit" class="btn btn-primary btn-lg" form="form">Save</button>
    </div>

    {{ include('_errors.html.twig', {errors: viewModel.errors}) }}
    {{ include('_notices.html.twig', {notices: viewModel.notices}) }}

    <h1>{{ viewModel.name }}</h1>
    <form action="{{ url('materials_edit', {id: viewModel.id}) }}" method="post" id="form">
        {{ include('_product_form.html.twig') }}
    </form>
{% endblock %}
