{% extends 'layout.html.twig' %}

{% block title %}Auction{% endblock %}

{% block main %}
    <div class="text-right mb-3">
        <button type="button" class="btn btn-primary btn-lg" id="save-button">Save</button>
    </div>

    {{ include('_errors.html.twig', {errors: viewModel.errors}) }}
    {{ include('_notices.html.twig', {notices: viewModel.notices}) }}

    <h2>Materials</h2>
    {{ include('_grid.html.twig', {grid: viewModel.materialPriceGrid}) }}

    <h2 class="mt-5">Devices</h2>
    {{ include('_grid.html.twig', {grid: viewModel.devicePriceGrid}) }}

    <form action="{{ url('auction') }}" method="post" id="form"></form>

    <script>
        ;(function() {
            const materialInputName = 'material-prices';
            const deviceInputName = 'device-prices';

            let oldMaterialValues = getInputValues(materialInputName);
            let oldDeviceValues = getInputValues(deviceInputName);

            let button = document.getElementById('save-button');

            button.onclick = function () {
                let newMaterialValues = getInputValues(materialInputName);
                let newDeviceValues = getInputValues(deviceInputName);

                let materialDifference = getValueDifference(newMaterialValues, oldMaterialValues);
                let deviceDifference = getValueDifference(newDeviceValues, oldDeviceValues);

                let materialInputs = createInputsWithValues(materialDifference, materialInputName);
                let deviceInputs = createInputsWithValues(deviceDifference, deviceInputName);

                let inputs = materialInputs.concat(deviceInputs);

                let form = document.getElementById('form');

                for (let input of inputs) {
                    form.appendChild(input);
                }

                form.submit();
            }.bind(this);

            function getInputValues(inputName) {
                let inputs = document.querySelectorAll('input[name^=' + inputName + ']');

                let values = {};

                for (let input of inputs) {
                    let id = +input.name.slice(inputName.length + 1, -1);
                    values[id] = input.value;
                }

                return values;
            }

            function getValueDifference(valuesA, valuesB) {
                let difference = {};

                for (let id in valuesA) {
                    if (valuesA.hasOwnProperty(id)) {
                        if (valuesA[id] !== valuesB[id]) {
                            difference[id] = valuesA[id];
                        }
                    }
                }

                return difference;
            }

            function createInputsWithValues(values, inputName) {
                let inputs = [];

                for (let id in values) {
                    if (values.hasOwnProperty(id)) {
                        let input = document.createElement('INPUT');

                        input.type = 'text';
                        input.name = inputName + '[' + id.toString() + ']';
                        input.value = values[id];

                        inputs.push(input);
                    }
                }

                return inputs;
            }
        })();
    </script>
{% endblock %}
