{% set hasControls = false %}
{% for column in grid.columns %}
    {% if column.controlType != "none" %}
        {% set hasControls = true %}
    {% endif %}
{% endfor %}

<div class="table-responsive">
    <table class="table table-bordered{% if grid.striped %} table-striped{% endif %} table-sm text-center small"{% if grid.idForJs %} id="{{ grid.idForJs }}"{% endif %}>
        <thead class="thead-dark">
        <tr>
            {% for column in grid.columns %}
                <th class="align-middle"{% if column.width %} style="min-width: {{ column.width }}px; width: {{ column.width }}px"{% endif %}>{{ column.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% if hasControls %}
            <tr class="bg-primary">
                {% for column in grid.columns %}
                <td class="align-middle">
                    {% if column.controlType == "clear" %}
                        <button type="button" class="btn btn-secondary btn-block text-nowrap control-button-{{ loop.index }}">Clear</button>
                    {% elseif column.controlType == "select_unselect" %}
                        <button type="button" class="btn btn-secondary btn-block text-nowrap control-button-{{ loop.index }}">Unselect</button>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endif %}
        {% for row in grid.rows %}
            <tr>
                {% for cell in row.cells %}
                    <td class="align-middle" colspan="{{ cell.colspan }}" rowspan="{{ cell.rowspan }}">
                        {% if cell.type == "action" %}
                            <a href="{{ url(cell.route, cell.params) }}" class="btn btn-link btn-sm">{{ cell.name }}</a>
                        {% elseif cell.type == "checkbox" %}
                            <input type="checkbox" class="checkbox-input-{{ loop.index }}" style="transform: scale(1.25)" name="{{ cell.name }}" {% if cell.isChecked %}checked{% endif %}>
                        {% elseif cell.type == "field" %}
                            <input type="{{ cell.valueType }}" class="form-control text-right px-1 field-input-{{ loop.index }}" name="{{ cell.name }}" value="{{ cell.value }}">
                        {% elseif cell.type == "html" %}
                            {{ cell.html|raw }}
                        {% elseif cell.type == "image" %}
                            {% if cell.href %}
                                <img src="{{ cell.href }}"{% if cell.alt %} alt="{{ cell.alt }}"{% endif %} class="img-fluid">
                            {% endif %}
                        {% elseif cell.type == "link" %}
                            {% if cell.href %}
                                <a href="{{ cell.href }}">{{ cell.text }}</a>
                            {% else %}
                                {{ cell.text }}
                            {% endif %}
                        {% elseif cell.type == "text" %}
                            {{ cell.text }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% if grid.empty %}
            <tr>
                <td colspan="{{ grid.columns|length }}" class="align-middle" style="height: 50px">
                    Empty
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% if hasControls %}
    {% for column in grid.columns %}
        {% if column.controlType == "clear" %}
            <script>
                ;(function() {
                    let tableId = '{{ grid.idForJs }}';
                    let buttonClass = 'control-button-{{ loop.index }}';
                    let inputClass = 'field-input-{{ loop.index }}';

                    let table = document.getElementById(tableId);
                    let button = table.getElementsByClassName(buttonClass)[0];

                    button.onclick = function () {
                        let inputs = table.getElementsByClassName(inputClass);

                        for (let input of inputs) {
                            input.value = '';
                        }
                    }.bind(this);
                })();
            </script>
        {% elseif column.controlType == "select_unselect" %}
            <script>
                ;(function() {
                    let tableId = '{{ grid.idForJs }}';
                    let buttonClass = 'control-button-{{ loop.index }}';
                    let inputClass = 'checkbox-input-{{ loop.index }}';

                    let table = document.getElementById(tableId);
                    let button = table.getElementsByClassName(buttonClass)[0];

                    let isSelected = true;

                    button.onclick = function () {
                        let inputs = table.getElementsByClassName(inputClass);

                        for (let input of inputs) {
                            input.checked = isSelected ? '' : 'checked';
                        }

                        button.innerText = isSelected ? 'Select' : 'Unselect';
                        isSelected = !isSelected;
                    }.bind(this);
                })();
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
