{% set hasControls = false %}
{% for column in grid.columns %}
    {% if column.controlType != "none" %}
        {% set hasControls = true %}
    {% endif %}
{% endfor %}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm text-center small"{% if grid.idForJs %} id="{{ grid.idForJs }}"{% endif %}>
        <thead class="thead-dark">
        <tr>
            {% for column in grid.columns %}
                <th class="align-middle"{% if column.width %} style="width: {{ column.width }}%"{% endif %}>{{ column.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% if hasControls %}
            <tr class="bg-primary">
                {% for column in grid.columns %}
                <td class="align-middle">
                    {% if column.controlType == "clear" %}
                        <button type="button" class="btn btn-secondary btn-block text-nowrap control-button-{{ loop.index }}">Clear all</button>
                    {% elseif column.controlType == "select_unselect" %}
                        <button type="button" class="btn btn-secondary btn-block text-nowrap control-button-{{ loop.index }}">Unselect all</button>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endif %}
        {% for row in grid.rows %}
            <tr>
                {% for value in row.values %}
                    {% if value.type == "action" %}
                        <td class="align-middle">
                            <a href="{{ url(value.route, value.params) }}" class="btn btn-secondary btn-sm">{{ value.name }}</a>
                        </td>
                    {% elseif value.type == "checkbox" %}
                        <td class="align-middle">
                            <input type="checkbox" class="custom-control-input checkbox-input-{{ loop.index }}" name="{{ value.name }}" checked="{% if value.isChecked %}checked{% endif %}">
                        </td>
                    {% elseif value.type == "field" %}
                        <td class="align-middle">
                            <input type="{{ value.valueType }}" class="form-control field-input-{{ loop.index }}" name="{{ value.name }}" value="{{ value.value }}">
                        </td>
                    {% elseif value.type == "html" %}
                        <td class="align-middle">{{ value.html|raw }}</td>
                    {% elseif value.type == "image" %}
                        <td class="align-middle">
                            {% if value.href %}
                                <img src="{{ value.href }}"{% if value.alt %} alt="{{ value.alt }}"{% endif %} class="img-fluid">
                            {% endif %}
                        </td>
                    {% elseif value.type == "link" %}
                        <td class="align-middle">
                            {% if value.href %}
                                <a href="{{ value.href }}">{{ value.text }}</a>
                            {% else %}
                                {{ value.text }}
                            {% endif %}
                        </td>
                    {% elseif value.type == "text" %}
                        <td class="align-middle">{{ value.text }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if hasControls %}
    {% for column in grid.columns %}
        {% if column.controlType == "clear" %}
            <script>
                ;(function() {
                    let tableId = '{{ grid.idForJs }}';
                    let buttonClass = 'control-button-{{ loop.index }}';
                    let inputClass = 'field-input-{{ loop.index }}';

                    let table = document.getElementById(tableId);
                    let button = table.getElementsByClassName(buttonClass)[0];

                    button.onclick = function () {
                        let inputs = table.getElementsByClassName(inputClass);

                        for (let input of inputs) {
                            input.value = '';
                        }
                    }.bind(this);
                })();
            </script>
        {% elseif column.controlType == "select_unselect" %}
            <script>
                ;(function() {
                    let tableId = '{{ grid.idForJs }}';
                    let buttonClass = 'control-button-{{ loop.index }}';
                    let inputClass = 'checkbox-input-{{ loop.index }}';

                    let table = document.getElementById(tableId);
                    let button = table.getElementsByClassName(buttonClass)[0];

                    let isSelected = true;

                    button.onclick = function () {
                        let inputs = table.getElementsByClassName(inputClass);

                        for (let input of inputs) {
                            input.checked = isSelected ? '' : 'checked';
                        }

                        button.innerText = isSelected ? 'Select all' : 'Unselect all';
                        isSelected = !isSelected;
                    }.bind(this);
                })();
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
