{% extends 'base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-expand bg-primary navbar-dark fixed-top justify-content-center">
        <ul class="navbar-nav d-flex d-md-none">
            <li class="nav-item">
                <a class="nav-link small" href="{{ url('calculator_inventory') }}">Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link small" href="{{ url('prices') }}">Prices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link small" href="{{ url('materials') }}">Materials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link small" href="{{ url('devices') }}">Devices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link small" href="{{ url('user_account') }}">Account</a>
            </li>
        </ul>
        <ul class="navbar-nav d-none d-md-flex">
            <li class="nav-item">
                <a class="nav-link" href="{{ url('calculator_inventory') }}">Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('prices') }}">Prices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('materials') }}">Materials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('devices') }}">Devices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('user_account') }}">Account</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row bg-light min-vh-100">
            <main class="col-md-6 bg-white offset-md-3 pt-3" style="margin-top: 56px">
                {% block main %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
